
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr >
        <th>id</th>
        <th>name</th>
        <th>age</th>
    </tr>
    <tr >
        <td th:text="${person.getId()}"></td>
        <td th:text="${person.getName()}"></td>
        <td th:text="${person.getAge()}">age</td>
    </tr>
</table>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>